<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BeatTheBoss.Properties.GameSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BeatTheBoss.Properties.GameSettings>
            <setting name="isGameSaved" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="playerName" serializeAs="String">
                <value>player</value>
            </setting>
            <setting name="savedGameScore" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savedGameRoomNumber" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="savedGamePlayerHp" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="savedVolume" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="savedMusicMuted" serializeAs="String">
                <value>False</value>
            </setting>
        </BeatTheBoss.Properties.GameSettings>
    </userSettings>
</configuration>